{% extends 'base.html' %}
{% block title %}Signup Page{% endblock %}
{% block content %}

    <form action="" method="post">
    {% csrf_token %}
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
{#                            회원가입 #}
                            <h5 class="card-title text-center">Sign Up</h5>
{#                            Username 입력#}
                            <form class="form-signin">
                                <div class="form-label-group">
                                    <input type="text" id="id_username" class="form-control" placeholder="Username"
                                           name="username" maxlength="50" required id="id_username">
                                    <label for="id_username">Username </label>
                                </div>
{#                                Password 입력#}
                                <div class="form-label-group">
                                    <input type="password" id="id_password" class="form-control"
                                           placeholder="Password" name="password" maxlength="128" required id="id_password">
                                    <label for="id_password">Password</label>
                                </div>
{#                                Password Check 입력#}
                                <div class="form-label-group">
                                    <input type="password" id="id_password_check" class="form-control"
                                           placeholder="Password Check" name="password_check" maxlength="100" required id="id_password_check">
                                    <label for="id_password_check">Password Check</label>
                                </div>
{#                                Submit #}
                                <b><p style="color:red">{{ error }}</p></b> {# 존재하는 아이디, 패스워드 8글자 이상, 패스워드가 일치하지 않음 #}
                                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign up
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

{% block footer %}
{% endblock %}